# Emacs
*~
\#*\#
\#*#

# Extra files
*.bak

# Prerequisites
*.d

# Compiled Object files
*.o
*.obj

# Precompiled Headers

# Compiled Dynamic libraries

# Fortran module files

# Compiled Static libraries
.lib
.a

# Executables
*.elf
*.exe
*.out
*.app
*.hex
*.bin

