# Emacs
*~
\#*\#
\#*#

# Extra files
*.bak

# Prerequisites
*.d

# Compiled Object files
*.o
*.obj
*.map 

# Source Extra Files
*.list
*GPATH
*GTAGS
*GRTAGS

# Precompiled Headers

# Compiled Dynamic libraries

# Fortran module files

# Compiled Static libraries
.lib
.a

# Executables
*.elf
*.exe
*.out
*.app
*.hex
*.bin

